body {
    font-family: "Open Sans", sans-serif;
}

.bg-color{
    background-color: pink;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.error-message {
    text-decoration: red;
}
body{
    padding: 0;
    margin: 0;
}

.grow-1{
    flex-grow: 1;
}
.item{
    background-color: pink;
}
.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.conversation-item {
    padding: 10px 25px;
    cursor: pointer;
}

.conversation-item:hover{
    background-color: rgb(255, 192, 241);
}

.conversation-item.active{
    background-color: rgb(237, 192, 255);
}

.conversation-item > .name{
    font-size: 18px;
}

.conversation-item > .user-count{
    font-size: 12px;
    font-style: italic;
}

.justify-between {
    justify-content: space-between;
}

.vh-100 {
    height: 100vh;
}

.form-input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 42px;
    font-size: 17px;
    padding: 0px 16px;
    border-radius: 5px;
    min-width: 286px;
}

.m-b-lg{
    margin-bottom: 150px;
}
.m-b-md{
    margin-bottom: 70px;
}
.m-b-sm{
    margin-bottom: 10px;
}
.m-t-sm{
    margin-top: 10px;
}

.btn{
    border-radius: 50px;
    font-size: 15px;
    padding: 9.5px 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-primary{
    color: #fff;
    background-color: rgb(237, 192, 255);
}

.btn-primary:hover{
    background-color: rgb(255, 192, 241);
}

.btn-secondary{
    background-color: pink;
}
.btn-secondary:hover{
    background-color: rgb(255, 192, 241) ;
}

.overflow-y{
    overflow-y: auto;
}

.p-x-sm{
    padding-right: 20px;
    padding-left: 20px;
}

.p-y-sm{
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}